/*d3dff2 claro */
body {
    background-color: #edf2fa;
}

.about {
    width: 50px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 20px;
}

.btn:hover {
    cursor: pointer;
}

.logo {
    margin: 70px auto 20px auto;
    display: block;
}

.opcoes {
    height: 80px;
}

.opcoes div {
    margin: 0!important;
}

.play-pause {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.barra-btn {
    background-color: #91afdf;
    height: inherit;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.barra-opcoes p {
    line-height: 0.6;
    font-weight: 500;
    font-size: 30px;
    padding-left: 20px;
}

.barra-opcoes {
    width: 80%;
    background-color: #d3dff2;
    height: inherit;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.insert-gtm {
    top: 15px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    width: 220px;
    border: 2px solid #91afdf;
    border-radius: 10px;
}

.insert-gtm div {
    margin: 0!important;
    height: inherit;
}

.insert {
    width: 50px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.area-img {
    display: block;
    width: 60px;
}

.area-texto {
    width: 150px;
}
.area-texto p {
    font-weight: 200;
    font-size: 25px;
    line-height: 1.2;
}